*{
    top:0;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html,body
{
   background-color: #fff;
    color:#555;
    font-family:'lato',sans-serif;
    font-weight:300;
    font-size: 20px;
    text-rendering:optimizeLegibility;
    /* rendering text prefectly */
overflow-x:hidden;
}

.clearfix{zoom:1;}
.clearfix:after{
    content:'.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-----REUSABLE COMPONENTS-----*/

.row {
   max-width:1140px;/* maximun width */
    margin:0 auto;/* center row */
    
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}


/*-----HEADINGS-----*/

  
h1,h2,h3{
   
    font-weight: 300;
    text-transform: uppercase;  
}



h1{
    margin-top:0;/* normalize.css give some padding to h1 so set margin to 0 */
    margin-bottom: 20px; /* spaces between header text and buttons */
    color:#fff;
    font-size;240%; /* which is 40px 2x20px 20px in the html{} */
    word-spacing: 4px;/* 3px between each word*/
      letter-spacing: 1px;
    
}

h2{
    
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
     letter-spacing: 1px;
}



h3{
    font-size: 110%;
    margin-bottom: 15px;
}
 


h2:after{
    display:block;
    height:2px;
    background-color: #e67e22;
    content:" ";
    width:100px;
    margin:0 auto;
    margin-top: 30px;
    
}

/*----PARAGRAPHS------*/
 
.long-copy{
    line-height: 145%;
    width;70%;
    margin-left: 15%;
}

.box p{
    line-height: 145%;
    font-size: 90%;
}

/*-----ICONS-----*/


.icon-big{
    font-size: 200%;
    display: block;
    color:#e67e22;
    margin-bottom: 10px;
}


.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color:#e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}



/*-----LINKS-----*/
a:link,
a:visited{
    color:#e67e22;
    text-decoration: none;
     padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
-webkit-transition: border-bottom 0.2s, color 0.2s; 
 transition: border-bottom 0.2s, color 0.2s;
   
}

a:hover,
a:active{
    color:#555;
    border-bottom: 1px solid transparent;
}


/*-----FEATURES-----*/
.section-features .long-copy{
     margin-bottom: 30px;
}


/*   buttons    */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}




/*-----HEADER-----*/

header{
    /* darker image on top of the image using linear-gradient property
        like 2 image on top of each other with 70% transparency
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) */
    background-image:linear-gradient(rgba(80, 74, 74, 0.2),rgba(87, 71, 71, 0.26)),url(img/hero-min.jpg);
 background-image: -webkit-linear-gradient(rgba(80, 74, 74, 0.2),rgba(87, 71, 71, 0.26)),url(img/hero-min.jpg);
    height:100vh;/* 100% view port height with the image */
    background-size: cover;/* image cover the whole screen */
    background-position:center;/* center image */
       background-attachment: fixed;
}


.hero-text-box{
    position: absolute;/* free floating position to parent elememt */
    width: 1140px; /* set width as the parent elememt */
    top:50%;/* whole text box start 50% from top of screen 1140px down and 50% to left */
    left:50%;
    transform: translate(-50%,-50%); 
-webkit-transform: translate(-50%,-50%); 
-ms-transform: translate(-50%,-50%);/* translate(x,y) move element to vertically and horizontally to the left by 50% */
}

.logo{
    height:100px;
    width:auto;
    float:left;
    margin-top:20px;
}

.logo-black{
    display:none; 
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}


/*---main navi-----*/

.main-nav{
    float:right;
    list-style: none;/* no bullets points */
    margin-top:55px;
    
}

/* select all li elements */
.main-nav li{
    /* side by side */
    display:inline-block;
    /* 40px spacing between the li */
    margin-left: 40px;
}

.main-nav li a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited
{ 
    /* add padding top and bottom*/
    padding:8px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    /* 18px/20px = 90%, 90% font-size of parent element 20px in the html{}*/
    font-size: 90%;
      border-bottom: 2px solid transparent;
    /* animate with css transition border-bottom */
    transition: border-bottom 0.2s;
     /* more center out animation*/

}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid  #e67e22;
}


.mobile-nav-icon{
    float: right;
    margin: 30px;
    cursor:pointer;
    display:none;
    
}


.mobile-nav-icon i{
    font-size: 200%;
    color:#fff;
}
/*-------sticki navi-------*/
.sticky{
    position:fixed; 
    top:0;
    left:0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow:0 2px 2px #efefef;
    z-index: 9999;
}
.sticky .main-nav{
    
    margin-top:18px;
    
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited
{ 
    /* add padding top and bottom*/
    padding:16px 0;
    color:#555;
     

}
 
.sticky .logo{
    display: none;
}
.sticky .logo-black
{
    display: block;
}



/*-------MEALS-------*/
.section-meals{
    padding:0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
    
}

.meals-showcase li{
    display:block;
    float:left;
    width:25%;
}


.meals-photo{
    width:100%;
    margin: 0;
       overflow:hidden;
    background-color: black;
    
}

.meals-photo img{
    opacity: 0.7;
    width:100%;
    height:auto;
    transform: scale(1.15);
    transition: transform 0.5s,opacity:0.5s;
    
}


.meals-photo img:hover{
    opacity: 1;
    transform:scale(1.03);
}



/*-----How it works-----*/ 

.section-steps{
   
    background-color: #f4f4f4;
}
.steps-box{
    margin-top:30px;
}

.steps-box:first-child{
    text-align:right;
    padding-right: 3%; 
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
}

.works-step{
margin-bottom:50px;    
}
.works-step:last-of-type{
    margin-bottom: 80px;
}


.works-step div{
    color:#e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    float: left;
    margin-right: 25px;
    text-align: center;
    font-size: 150%;
    padding:5px;
   
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img{
    height:50px;
    width: auto;
    margin-right: 10px;
}



/*-----cities-----*/


.box img{
width: 100%;
    height: auto;
    margin-bottom: 15px;
}


/*-----testimonials-----*/


.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/back-customers-min.jpg);
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/back-customers-min.jpg);
    background-size: cover;
    color:#fff;
    background-attachment: fixed;
}

blockquote{
    padding:2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
}


blockquote:before{
content:"\201C";
    font-size: 500%;
    display: block;
    top: -5px;
    left:-3px;
  
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}


cite img{
    height:50px;
    border-radius:50%;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 145%;
}


/*-----sign up-----*/


.section-plans{
    background-color: #f4f4f4;
}



.plan-box{
    background-color: #fff;
    border-radius:5px;
    width:90%;
    margin-left: 5%;
box-shadow:0 2px 2px #efefef
}


.plan-box div {
    padding:15px;
    border-bottom: 1px solid #e8e8e8;
}


.plan-box div:first-child {
    background-color: #c7b9b9;
border-top-left-radius:5px;
border-top-right-radius:5px;
}


.plan-box div:last-child {
    text-align: center;
    border:0;
}




.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;  
    color:#e67e22;
}


.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-price meal{
    font-size: 80%;
    
}

.plan-box ul{
    list-style: none;
}


plan-box ul li{
    padding:5px 0;
}

/*----------------------------------------------------*/
/*  Contact Form   */
/*----------------------------------------------------*/
.contact-form {
   /* make form 60% width and center form */
  width: 60%;
  margin: 0 auto;
}

/* select ONLY input type text and email NOT checkbox or button input*/
input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  /* make text area 100px height */
  height: 100px;
}






input[type=checkbox] {
  /* add a little space around checkbox */
  margin: 10px 5px 10px 5px;
}

/* get rig of blue outline around input box with chrome default */
*:focus {
  outline: none;
}



/*---footer-----*/

footer {
  /* darker background dark grey*/
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

/* nav li and social icon side by side */
.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

/* hover effect nav */
.footer-nav li a:hover,
.footer-nav li a:active {
  color: #fff;
}

/* make social links a litter bigger */
.social-links a:link,
.social-links a:active {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s;
}

/* change social icon to corresponding color */
.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #00aced;
}

.googleplus:hover {
  color: #dd4b39;
}

.instagram:hover {
  color: #3b5998;
}

footer p {
  color: #888;
  text-align: center;
  /* font-size: 90%; */
  margin-top: 20px;
}



/*-----sign up-----*/



.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity:0;
    animation-duration: 1s;
}

.js--wp-4{
animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-1.animated,
.js--wp-1.animated{
    opacity:1;
}